#container{

    height: 400px;
    width: 400px;
    background-color: yellow;
    position: relative;
}
#animate{

    height: 50px;
    width: 50px;
    background-color: red;
    position: absolute;
}